.bigBox {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.758);
  background-color: var(--secondary-color);
  width: 75vw;
  height: 80vh;
  border-radius: 50px;
  overflow: hidden;
}

.portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-height: 65vh;
  margin: 2.5vw 2.5vw;
  border-radius: 25%;
  border: #000000 solid;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.866);
  display: inline-block;
}
