.bigBox {
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  /* color and font */
  color: var(--text-color);
  box-shadow: var(--main-shadow);
  background-color: var(--secondary-color);
  font-family: var(--main-font);
  /* size */
  width: 75vw;
  height: 100vh;
  border-radius: 50px;
  margin: 40px 0;
  /* background */
  background-image: url("/public/photos/Background_flipped.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  position: absolute;
  height: 100vh;
  width: 50vw;
  padding: 20px;
  box-shadow: var(--shadow);
  text-align: left;
  margin: auto;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  font-size: 1.25rem;
  background-color: var(--button1);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
}

button:hover {
  background-color: #393939;
}

h1 {
  color: var(--navfoot-color);
  font-family: var(--second-font);
}

h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--text-color);
  margin: 20px 0px;
}

a:hover {
  text-decoration: underline;
  color: #393939;
}

h1,
h4 {
  margin: 20px 0;
}

span {
  display: block;
  border-top: 2px solid var(--navfoot-color);
  width: 30vw;
}
