.bigBox {
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  /* color and font */
  color: var(--text-color);
  box-shadow: var(--main-shadow);
  background-color: var(--secondary-color);
  font-family: var(--main-font);
  /* size */
  width: 75vw;
  height: 100vh;
  border-radius: 50px;
  margin: 40px 0;
  /* background */
  background-image: url("/public/photos/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-height: 65vh;
  margin: 2.5vw 2.5vw;
  border-radius: 25%;
  border: #000000 solid;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.866);
  display: inline-block;
}
