@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Document base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: dotted red; */
}

body {
  background-color: var(--background-color);
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Fonts and colors*/
:root {
  /* Colors */
  --navfoot-color: #4f4789;
  --background-color: #9899a6;
  --text-color: #000000;
  --secondary-color: #ffff;
  --yellow-one: #ecd444;
  --yellow-two: #b19f33;
  --main-shadow: 15px 15px 0px #000000c1;
  --shadow: #000000c1;

  /* items */
  --button1: #1e1e1e;

  /* Fonts */
  --main-font: "Montserrat", sans-serif;
  --second-font: "Bungee", sans-serif;
}
